{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Portal{% endblock %}

{% block content %}
<style>
    body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-image: url("{% static 'assets/images/log.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            filter: blur(8px);
            z-index: -1;
        }
    .welcome-section {
        background-image: url("{% static 'assets/images/dd4.jpg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 1px 1px 3px #00000080;
    }
    .welcome-section h2 {
        color: white;
        font-size: 3rem;
        font-weight: bold;
    }
</style>

<div class="welcome-section" style="align-items: flex-start; padding-top: 0px;">
    <h2 style='color:black;'>Bienvenido al Portal de Pedidos</h2>
</div>
{% endblock %}
